@import "tailwindcss";

@layer base {
  body {
    background-color: #FAF9F6;
    color: #1A1A1A;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E5E5E0;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4D4CE;
}
